body{
    padding:0;
    margin: 0;
}

header{
    background-color: #1F2937;
    min-height: 600px;
    max-height: 1000px;
}
.content-container{
    width: 90%;
    margin: 0 auto;
}
 nav{
    padding: 12px;
 }

 ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: baseline;
    padding: 0px;
    margin: 0;
 }

 .link-container{
    display: flex;

 }

 .link-container a{
   font-size: 18px;
   text-decoration: none;
   color: #E5E7EB;
   margin: 0 20px;
   

 }

 .logo a{
    font-size: 24px;
    color: #F9FAF8;
 }

 .hero-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 12px;
    margin-top: 40px;

 }
.hero-text{
    flex-grow: 3;
    width: 500px;
}
 .hero-header{
    font-size: 60px;
    font-weight: extra-bold;
    margin-bottom: -10px;
    color: #F9FAF8;
 }  
 .hero-information{
    font-size: 20px;
    color: #E5E7EB;
 }

 .hero-button{
    height: 50px;
    width: 100px;
    font-size: large;
    background-color: #3882F6;
    border-style: none;
    border-radius: 5px;
    color: #F9FAF8;
 }
 .image-holder{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 50%;
    height: 50%;
    flex-grow: 1;

 }
 .image-holder img {
    max-height: 450px;
    min-height: 300px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
 }

 .additional-info-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    margin: 50px;
 }
 .additional-info-container h2{
    margin: -20px;
 }
 .additional-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 350px;
    justify-content: space-around;
    gap: 50px;
    margin-top: 100px;
 }
 .additional-info p{
    font-size: 18px;
    font-weight: bolder;
    text-align: center;

 }
 .info{
    height: 200px;
    width: 250px;
    border: 3px solid blue;
    border-radius: 10px;
 }
.one img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    object-fit: cover;
 }
 .two img{
    height: 100%;
    width: 100%;
    border-radius: 6px;
    object-fit: cover;
 }
 .three img{height: 100%;
    width: 100%;
    border-radius: 6px;
    object-fit: cover;
 }
 .four img{height: 100%;
    width: 100%;
    border-radius: 6px;
    object-fit: cover;
 
 }

 .quote-container{
    display: flex;
    height: 400px;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
 }
  blockquote{
    font-size: 36px;
    min-width: 200px;
    font-style: italic;
  }

  .callup-container{
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .callup-promotion{
    min-width: 100px;
    max-width: 700px;
  }
  
  .callup{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    width: 800px;
    background-color: #3882F6;
    height: 150px;
    padding: 0 50px;
    border-radius: 5px;
    color: #F9FAF8;

  }
    #callup-one{
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0px -10px 0px;     
  }
  #callup-two{
    font-size: 18px;
  }
  .callup-button{
    font-size: 15px;
    font-weight: bold;
    height: 50px;
    min-width: 100px;
    background-color: #3882F6;
    border-radius: 25px;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
  }

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1F2937;
}
footer p{
    text-align: center;
    color: #F9FAF8
}
